<section class="">
    <div class="container">
        <div class="d-flex pb-5 pt-5">
            <img src="assets/img/brand/filed-logo.png" class="img-fluid" />
        </div>
        <div class="row">
            <div class="col-md-6 p-5">
                <div class="pb-3 pt-3">
                    <h3 class="pb-4">
                      Book a demo today and <br />
                      get two weeks for  <span class="highlight">free.</span> Why?  
                    </h3> 

                    <h5>
                        Because Our AI-Powered Software <br /> Will Exceed Your Marketing Goals.
                    </h5>

                    <div class="pl-3 pb-3" style="padding-top:7rem;">
                        <img src="assets/img/utils/artboard.png"  class="img-fluid"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-5">
                <div class="card">
                    <div class="text-center pt-5">
                        <h3>Let's Start</h3>
                        <p>Fill out the form and we'll get in touch to<br /> get your trial set up.</p>
                    </div>
                    <div class="p-5 pt-3">
                        <form>
                            <div class="form-group mb-5">
                                <label>
                                    Do you want to make ads that convert?
                                </label>
                                <div class="row pl-3">
                                    <div class="form-check col-sm-3">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                                    </div>
                                    <div class="form-check col-sm-3">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                    </div>
                                </div>                                
                            </div>
                            <div class="form-group mb-5">
                                <label>What's your monthly ad budget?</label>
                                <select class="custom-select custom-select-lg mb-3">
                                    <option selected>Select</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <button class="btn w-100 btn-started">GET STARTED</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="offer-section">
    <div class="container">
        <div class="d-flex justify-content-center" style="height: 50vh;">
            <div class="align-self-center">
                <p class="highlight">Our Offer: Intelligent Automation. Real-time Insights. Unparalleled Results.</p>
                <button class="btn btn-md btn-primary" [routerLink]="['/alternative']">Go to second Page</button>
            </div>
        </div>        
    </div>
</section>
<section class="features-section bg-white">
    <div class="container pb-5 pt-5">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h4>The <span class="highlight">Benefits</span>  of using Filed</h4>
            </div>
            <div class="col-md-6 align-self-center">
                <ul class="features">
                    <li class="pb-3 pl-3">Ability to scale using Dexter, our AI-powered marketing genius.</li>
                    <li class="pb-3 pl-3">Client Success Manager who will optimize your Facebook ad campaigns and focus on driving the best possible results for you.</li>
                    <li class="pb-3 pl-3">This is a limited time offer only.</li>
                </ul>
            </div>
        </div>        
    </div>
</section>
<section class="review-section">
    <div class="container pb-4 pt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="p-2">
                    <div class="d-flex justify-content-between">
                        <img src="assets/img/utils/quotes.svg" class="p-2"/>
                        <q class="p-2 header-quotes">It surpassed our expectations</q>
                    </div>
                    <q>Filed has completely surpassed our expectations. I will refer everyone I know. Filed is worth much more than I paid.</q>
                    <div class="d-flex">
                        <img src="assets/img/utils/user.jpg" class="img-rounded p-2" />
                        <div class="align-self-center p-2 text-white">
                            <h6>Tania Y.</h6>
                            <em>Flexi Content @Hello</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-2">
                    <div class="d-flex justify-content-between">
                        <img src="assets/img/utils/quotes.svg" class="p-2"/>
                        <q class="p-2 header-quotes">The essential marketing tool</q>
                    </div>
                    <q>Filed is the most valuable business resource we have EVER purchased. I was amazed at the quality of filed. We were treated like royalty.</q>
                    <div class="d-flex">
                        <img src="assets/img/utils/user.jpg" class="img-rounded p-2" />
                        <div class="align-self-center p-2 text-white">
                            <h6>Tania Y.</h6>
                            <em>Flexi Content @Hello</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-2">
                    <div class="d-flex justify-content-between">
                        <img src="assets/img/utils/quotes.svg" class="p-2"/>
                        <q class="p-2 header-quotes">Your company is truly upstanding</q>
                    </div>
                    <q>The service was excellent. After using filed my business skyrocketed! It really saves me time and effort.</q>
                    <div class="d-flex">
                        <img src="assets/img/utils/user.jpg" class="img-rounded p-2" />
                        <div class="align-self-center p-2 text-white">
                            <h6>Tania Y.</h6>
                            <em>Flexi Content @Hello</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>