@font-face{
    font-family: "Roboto Bold";
    src: url("../Roboto/Roboto-Bold.ttf");
}

@font-face{
    font-family: "Roboto Regular";
    src: url("../Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "Roboto Medium";
    src: url("../Roboto/Roboto-Medium.ttf");
}

body{
    font-family:'Roboto Regular';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Bold';
}
a,button,label{
    font-family: 'Roboto Medium';
}
