<footer class="container-fluid p-0">
    <div class="container d-flex text-white justify-content-between pt-2 flex-wrap">
        <div class="p-2">
            <p>Copyright © 2020. All Rights Reserved.</p>
        </div>
        <div class="p-2">
            <nav>
                <ul>
                    <li class="p-2">HOME</li>
                    <li class="p-2">FEATURES</li>
                    <li class="p-2">TERMS</li>
                    <li class="p-2">PRIVACY</li>
                    <li class="p-2">CONTACT US</li>
                </ul>
            </nav>
        </div>
        <div class="p-2 text-center">
            <ul>
                <li class="p-2">
                    <a><img src="assets/img/brand/facebook.svg"/></a>
                </li>
                <li class="p-2">
                    <a><img src="assets/img/brand/instagram.svg"/></a>
                </li>
                <li class="p-2">
                    <a><img src="assets/img/brand/twitter.svg"/></a>
                </li>
            </ul>
        </div>
    </div>
</footer>